:root {
    --luna-white:  rgb(167, 160, 160);
    --luna-green: rgb(15, 112, 67);
    /* --luna-back-primary: rgb(14, 14, 20);
    --luna-back-secondary: rgb(9, 9, 14); */
    /* --luna-back-primary: rgb(18, 18, 26); */
    --luna-back-primary: rgb(15, 19, 24);
    /* --luna-back-secondary: rgb(11, 11, 17); */
    --luna-back-secondary: rgb(27, 34, 37);
    --luna-grey-line: rgb(32, 31, 31);
    --luna-red:  rgb(109, 39, 39);
    --luna-back-tertiary: rgb(22, 25, 34); 
}

body {
    background-color: var(--luna-back-secondary);
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.main {
    display: flex;
    width: 90%;
    min-width: 700px;
    margin: 2.3% auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

.sidebar-logo {
    width: 35%;
    margin-bottom: 8%;
}

.bar-btn {
    color: var(--luna-green);
    margin-bottom: 1em;
    background-color: var(--luna-back-primary);
    text-align: center;
    border-radius: 30px;
    width: 80%;
}

.bar-btn:hover {
    background-color: var(--luna-grey-line);
}

.btn-text {
    cursor: default;
}

.new-mail-btn {
    margin-top: 5%;
    border: none;
    color: rgb(167, 160, 160);
    background-color: var(--luna-green);
}

.inbox-btn {
}
.sent-btn {
}
.contacts-btn {
}

.logout-btn {
    color: var(--luna-red);
}

.content {
    border-radius: .5em;
    background-color: var(--luna-back-primary);
    width: 90%;
    min-height: 90vh;
    max-height: 90vh;
    height: 80%;
    border: 1px solid var(--luna-grey-line);
}

.content-header {
    display: flex;
    justify-content: space-between;
    margin: 1% 10% 0% 10%;
    padding-bottom: 0%;
    font-size: 3rem;
    color: var(--luna-white);
    border-bottom: 2px solid var(--luna-grey-line);
}
.content-header-refresh {
    display: flex;
    justify-content: flex-end;
    margin: 0% 10% 0% 10%;
    padding-bottom: 0%;
    font-size: 1.5rem;
    color: var(--luna-white);
    cursor: default;
}

.content-header-refresh-text:hover {
    background-color: var(--luna-grey-line)
}

.content-header-refresh-text {
    padding: .3em .3em .3em .3em;
    margin: .1em 0 0 1.4em;
    width: fit-content;
    border-radius: 0em 0em 1em 1em;
    background-color: var(--luna-green);
}

.content-new-mail-header {
    display: flex;
    justify-content: space-between;
    margin: 1% 10% 1% 10%;
    padding-bottom: 0%;
    font-size: 1.5rem;
    color: var(--luna-white);
    border-bottom: 1px solid var(--luna-grey-line);
}

.content-new-mail-header-title {
    display: flex;
    justify-content: left;
    padding-bottom: 0%;
    font-size: 1.1rem;
    color: var(--luna-white);
}

.content-new-mail-header-recipient {
    justify-content: left;
    padding-bottom: 0%;
    font-size: 1.1rem;
    color: var(--luna-white);
}

.content-new-mail-recipient-input {
    justify-content: left;
    margin: 1% 5% 2% 2%;
    padding-bottom: 0%;
    font-size: 1.5rem;
    color: var(--luna-white);
    border-bottom: 1px solid var(--luna-grey-line);
    min-width: 80%;
    max-width: 80%;
    border: none;
    background-color: var(--luna-back-tertiary);
}

.content-new-mail-navbar {
    display: flex;
    width: 77%;
    margin: auto;
}

.content-new-mail-btn {
    margin-left: 3em;
    background-color: var(--luna-green);
    color: var(--luna-white);
    padding: .5em 1em .5em 1em;
    border-radius: 1.5em;
    cursor: default;
}

.content-new-mail-btn:hover {
    background-color: var(--luna-grey-line);
}

.content-new-mail-input {
    flex-direction: column;
    margin: 1.5% 10% 5% 12%;
    overflow-y: scroll;
    overflow-x: none;
    overflow-x: hidden;
    min-height: 58vh;
    max-height: 58vh;
    min-width: 75%;
    resize: none;
    border: none;
    border-radius: 1em;
    background-color: var(--luna-back-tertiary);
    outline: none;
}

.content-header-text {
    margin: .5em 0em 0.5em 0em;
}

.content-mail {
    display: flex;
    flex-direction: column;
    margin: 2% 10% 5% 12%;
    overflow-y: scroll;
    overflow-x: none;
    overflow-x: hidden;
    min-height: 95%;
    max-height: 58vh;
}

.content-mail-obj {
    display: flex;
    justify-content: space-between;
    border-radius: 1em;
    /* background-color: rgb(73, 12, 12); */
    background-color: rgba(32, 31, 31, 0.082);
    margin: .5em .5em .5em .3em;
    box-shadow: 0px 0px 5px 1px rgba(11, 78, 47, 0.404);
    white-space: nowrap;
    cursor: default;
}

.content-mail-obj:hover {
    color: var(--luna-grey-line);
    box-shadow: 0px 0px 5px 5px rgba(11, 78, 47, 0.404);
}

.content-mail-obj-title {
    font-size: 1.3rem;
    color: var(--luna-white);
    padding: 0;
    margin-top: .4em;
    margin-bottom: .4em;
}

.content-mail-obj-from {
    margin-left: 2%;
    font-size: 1.3rem;
    color: var(--luna-grey-line);
    color: var(--luna-white);
    margin-top: .4em;
    margin-bottom: .4em;
}

.content-mail-obj-date {
    margin-right: 2%;
    font-size: 1.3rem;
    color: var(--luna-white);
    margin-top: .4em;
    margin-bottom: .4em;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: rgb(9, 9, 14);
    border-radius: 1em;
}
::-webkit-scrollbar-thumb {
    background: var(--luna-green);
    border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(11, 189, 106);
}

.mail-detail-content {
    display: flex;
    justify-content: left;
    margin: 1% 10% 1% 10%;
    padding-bottom: 0%;
    font-size: 1rem;
    color: var(--luna-white);
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mail-recipient {
    display: flex;
    justify-content: left;
    margin: 0% 10% 1% 10%;
    padding-bottom: 0%;
    font-size: 1.1rem;
    color: var(--luna-white);
    border-bottom: 1px solid var(--luna-grey-line);
}

@media only screen and (max-width: 600px) {
    
}